extends layout
block content
  
  br
  header.text_center
    h2.text_primary 按钮
  br
  br

  .yy_inner
    .yy_btn.yy_btn_primary 按钮
    .yy_btn.yy_btn_default 按钮
    .yy_btn.yy_btn_danger 按钮
    .yy_btn.yy_btn_warning 按钮
    .yy_btn.yy_btn_success 按钮
    .yy_btn.yy_btn_gray 按钮