extends layout
block content
  
  br
  header.yy_text_center
    h2.yy_text_primary 按钮
  br
  br

  .yy_inner
    .yy_row
      .yy_cell
        a.yy_btn.yy_primary(href="javascript:;") .yy_btn.yy_primary
      .yy_cell
        .yy_btn.yy_default .yy_btn.yy_default
      .yy_cell
        .yy_btn.yy_danger .yy_btn.yy_danger
      .yy_cell
        .yy_btn.yy_warning .yy_btn.yy_warning
      .yy_cell
        .yy_btn.yy_success .yy_btn.yy_success
      .yy_cell
        .yy_btn.yy_blue .yy_btn.yy_blue
      .yy_cell
        .yy_btn.yy_wood .yy_btn.yy_wood
      .yy_cell
        .yy_btn.yy_outline.yy_violet .yy_btn.yy_outline.yy_violet
      .yy_cell
        .yy_btn.yy_outline.yy_pink .yy_btn.yy_outline.yy_pink
    br
    .yy_line
    br
    .yy_title.yy_title_primary .yy_radius
    .yy_btn.yy_primary.yy_radius .yy_radius
    .yy_btn.yy_outline.yy_primary.yy_radius .yy_radius
    .yy_title.yy_title_primary .yy_circle
    .yy_btn.yy_primary.yy_circle .yy_circle
    .yy_btn.yy_outline.yy_primary.yy_circle .yy_circle
    .yy_title.yy_title_primary .yy_min
    .yy_btn.yy_primary.yy_min .yy_min
    .yy_btn.yy_outline.yy_primary.yy_min .yy_min
    .yy_title.yy_title_primary .yy_large
    .yy_btn.yy_primary.yy_large .yy_large
    .yy_btn.yy_outline.yy_primary.yy_large .yy_large
    .yy_title.yy_title_primary .yy_block
    .yy_btn.yy_primary.yy_block .yy_block
    .yy_title.yy_title_primary .yy_long
    .yy_btn.yy_outline.yy_danger.yy_radius.yy_long .yy_long
    br
    br
    .line
    br
    .yy_title.yy_title_gray 禁用按钮
    .yy_btn.yy_primary.yy_disabled .yy_disabled
    .yy_btn.yy_gray.yy_disabled .yy_disabled
    .yy_btn.yy_outline.yy_primary.yy_disabled .yy_disabled
    