extends layout
block content
  
  br
  header.text_center
    h2.text_primary 按钮
  br
  br

  .yy_inner
    a.yy_btn.yy_primary(href="javascript:;") .yy_btn.yy_primary
    .yy_btn.yy_default .yy_btn.yy_default
    .yy_btn.yy_danger .yy_btn.yy_danger
    .yy_btn.yy_warning .yy_btn.yy_warning
    .yy_btn.yy_success .yy_btn.yy_success
    .yy_btn.yy_blue .yy_btn.yy_gray
    .yy_btn.yy_wood .yy_btn.yy_gray
    .yy_btn.yy_violet .yy_btn.yy_gray
    .yy_btn.yy_pink .yy_btn.yy_gray
    br
    .yy_line
    br
    a.yy_btn.yy_primary.yy_outline(href="javascript:;") .yy_btn.yy_outline
    .yy_btn.yy_outline.yy_default .yy_btn.yy_outline.yy_default
    .yy_btn.yy_outline.yy_danger .yy_btn.yy_outline.yy_danger
    .yy_btn.yy_outline.yy_warning .yy_btn.yy_outline.yy_warning
    .yy_btn.yy_outline.yy_success .yy_btn.yy_outline.yy_success
    .yy_btn.yy_outline.yy_gray .yy_btn.yy_outline.yy_gray
    br
    .yy_line
    br
    .yy_title.yy_title_primary .yy_radius
    .yy_btn.yy_primary.yy_radius .yy_radius
    .yy_btn.yy_outline.yy_primary.yy_radius .yy_radius
    .yy_title.yy_title_primary .yy_circle
    .yy_btn.yy_primary.yy_circle .yy_circle
    .yy_btn.yy_outline.yy_primary.yy_circle .yy_circle
    .yy_title.yy_title_primary .yy_min
    .yy_btn.yy_primary.yy_min .yy_min
    .yy_btn.yy_outline.yy_primary.yy_min .yy_min
    .yy_title.yy_title_primary .yy_large
    .yy_btn.yy_primary.yy_large .yy_large
    .yy_btn.yy_outline.yy_primary.yy_large .yy_large
    .yy_title.yy_title_primary .yy_block
    .yy_btn.yy_primary.yy_block .yy_block
    .yy_title.yy_title_primary .yy_long
    .yy_btn.yy_outline.yy_danger.yy_radius.yy_long .yy_long
    br
    br
    .line
    br
    .yy_title.yy_title_gray 禁用按钮
    .yy_btn.yy_primary.yy_disabled .yy_disabled
    .yy_btn.yy_gray.yy_disabled .yy_disabled
    .yy_btn.yy_outline.yy_primary.yy_disabled .yy_disabled
    