extends layout
block content

  style.
  
  br
  header.text--center
    h2.text--primary 栅格
  br
  br

  .yy_row
    .yy_cell.yy_blue .yy_cell  
    .yy_cell.yy_blue .yy_cell
    .yy_cell.yy_blue .yy_cell

  .yy_row
    .yy_cell_4.yy_success .yy_cell_2
    .yy_cell_8.yy_success .yy_cell_10


  .yy_column
    .yy_cell.yy_danger
    .yy_cell.yy_danger
    .yy_cell.yy_danger

  .yy_column
    .yy_cell_2.yy_wood
    .yy_cell_2.yy_wood
    .yy_cell_8.yy_wood
    
  .row
    .yy_cell_2.yy_pink
    .yy_cell_8
      .yy_column
        .yy_cell.yy_violet
        .yy_cell.yy_violet
      .yy_row
        .yy_cell_4.yy_success
        .yy_cell_8.yy_success