extends layout
block content
  style.
    .yy_cell_4 div{
      padding: 8px;
      width: 100%;
      color: #fff;
    }

  br
  header.yy_text_center
    h2.yy_text_primary 栅格
  br
  br
  .yy_inner
    .yy_row
      .yy_cell_4
        .yy_primary .yy_primary
      .yy_cell_4
        .yy_primary--deep .yy_primary--deep
      .yy_cell_4
        .yy_danger .yy_danger
      .yy_cell_4
        .yy_danger--deep .yy_danger--deep
      .yy_cell_4
        .yy_success .yy_success
      .yy_cell_4
        .yy_success--deep .yy_success--deep
      .yy_cell_4
        .yy_warning .yy_warning
      .yy_cell_4
        .yy_warning--deep .yy_warning--deep
      .yy_cell_4
        .yy_default .yy_default
      .yy_cell_4
        .yy_default--deep .yy_default--deep

      .yy_cell_4
        .yy_bluegreen .yy_bluegreen
      .yy_cell_4
        .yy_graygreen .yy_graygreen

      .yy_cell_4
        .yy_gray--thin .yy_gray--thin
      .yy_cell_4
        .yy_gray .yy_gray
      .yy_cell_4
        .yy_gray--deep .yy_gray--deep
        
      .yy_cell_4
        .yy_wood--thin .yy_wood--thin
      .yy_cell_4
        .yy_wood .yy_wood
      .yy_cell_4
        .yy_wood--deep .yy_wood--deep
        
      .yy_cell_4
        .yy_violet--thin .yy_violet--thin
      .yy_cell_4
        .yy_violet .yy_violet
      .yy_cell_4
        .yy_violet--deep .yy_violet--deep
        
      .yy_cell_4
        .yy_blue--thin .yy_blue--thin
      .yy_cell_4
        .yy_blue .yy_blue
      .yy_cell_4
        .yy_blue--deep .yy_blue--deep
        
      .yy_cell_4
        .yy_pink--thin .yy_pink--thin
      .yy_cell_4
        .yy_pink .yy_pink
      .yy_cell_4
        .yy_pink--deep .yy_pink--deep

    br
    .yy_title.yy_title_primary 文字颜色

    .yy_text_blue yy_text_blue 
    .yy_text_blue--deep yy_text_blue--deep 
    .yy_text_wood yy_text_wood 
    .yy_text_wood--deep yy_text_wood--deep 

    br
    .yy_title.yy_title_violet .yy_title.yy_title_violet
    .yy_title.yy_title_success--deep .yy_title.yy_title_success--deep

    


