extends layout
block content
  style.
    .yy_grid .img .icon {
      font-weight: 100 !important;
    }
    .yy_grids .yy_grid_3 {
      height: 150px;
      overflow: hidden;
    }

  br
  header.yy_text_center
    h2.yy_text_primary icon
  br
  br

  .yy_inner
    .yy_grids.yy_text_center
      .yy_grid.yy_grid_3(title='Code: 0xe800')
        .img
          i.icon.icon-user
          p.i-name icon-user
      .yy_grid.yy_grid_3(title='Code: 0xe801')
        .img
          i.icon.icon-users
          p.i-name icon-users
      .yy_grid.yy_grid_3(title='Code: 0xe802')
        .img
          i.icon.icon-search
          p.i-name icon-search
      .yy_grid.yy_grid_3(title='Code: 0xe803')
        .img
          i.icon.icon-search-1
          p.i-name icon-search-1
    
      .yy_grid.yy_grid_3(title='Code: 0xe804')
        .img
          i.icon.icon-picture
          p.i-name icon-picture
      .yy_grid.yy_grid_3(title='Code: 0xe805')
        .img
          i.icon.icon-th-large
          p.i-name icon-th-large
      .yy_grid.yy_grid_3(title='Code: 0xe806')
        .img
          i.icon.icon-th-large-1
          p.i-name icon-th-large-1
      .yy_grid.yy_grid_3(title='Code: 0xe807')
        .img
          i.icon.icon-th-large-outline
          p.i-name icon-th-large-outline
    
      .yy_grid.yy_grid_3(title='Code: 0xe808')
        .img
          i.icon.icon-menu
          p.i-name icon-menu
      .yy_grid.yy_grid_3(title='Code: 0xe809')
        .img
          i.icon.icon-th-large-2
          p.i-name icon-th-large-2
      .yy_grid.yy_grid_3(title='Code: 0xe80a')
        .img
          i.icon.icon-heart
          p.i-name icon-heart
      .yy_grid.yy_grid_3(title='Code: 0xe80b')
        .img
          i.icon.icon-heart-empty
          p.i-name icon-heart-empty
    
      .yy_grid.yy_grid_3(title='Code: 0xe80c')
        .img
          i.icon.icon-star
          p.i-name icon-star
      .yy_grid.yy_grid_3(title='Code: 0xe80d')
        .img
          i.icon.icon-star-empty
          p.i-name icon-star-empty
      .yy_grid.yy_grid_3(title='Code: 0xe80e')
        .img
          i.icon.icon-star-half
          p.i-name icon-star-half
      .yy_grid.yy_grid_3(title='Code: 0xe80f')
        .img
          i.icon.icon-ok
          p.i-name icon-ok
    
      .yy_grid.yy_grid_3(title='Code: 0xe810')
        .img
          i.icon.icon-ok-circled
          p.i-name icon-ok-circled
      .yy_grid.yy_grid_3(title='Code: 0xe811')
        .img
          i.icon.icon-ok-circled2
          p.i-name icon-ok-circled2
      .yy_grid.yy_grid_3(title='Code: 0xe812')
        .img
          i.icon.icon-cancel
          p.i-name icon-cancel
      .yy_grid.yy_grid_3(title='Code: 0xe813')
        .img
          i.icon.icon-cancel-circled
          p.i-name icon-cancel-circled
    
      .yy_grid.yy_grid_3(title='Code: 0xe814')
        .img
          i.icon.icon-cancel-circled2
          p.i-name icon-cancel-circled2
      .yy_grid.yy_grid_3(title='Code: 0xe815')
        .img
          i.icon.icon-plus
          p.i-name icon-plus
      .yy_grid.yy_grid_3(title='Code: 0xe816')
        .img
          i.icon.icon-plus-circled
          p.i-name icon-plus-circled
      .yy_grid.yy_grid_3(title='Code: 0xe817')
        .img
          i.icon.icon-minus
          p.i-name icon-minus
    
      .yy_grid.yy_grid_3(title='Code: 0xe818')
        .img
          i.icon.icon-minus-circled
          p.i-name icon-minus-circled
      .yy_grid.yy_grid_3(title='Code: 0xe819')
        .img
          i.icon.icon-info-circled
          p.i-name icon-info-circled
      .yy_grid.yy_grid_3(title='Code: 0xe81a')
        .img
          i.icon.icon-help-circled
          p.i-name icon-help-circled
      .yy_grid.yy_grid_3(title='Code: 0xe81b')
        .img
          i.icon.icon-home
          p.i-name icon-home
    
      .yy_grid.yy_grid_3(title='Code: 0xe81c')
        .img
          i.icon.icon-mail
          p.i-name icon-mail
      .yy_grid.yy_grid_3(title='Code: 0xe81d')
        .img
          i.icon.icon-tags
          p.i-name icon-tags
      .yy_grid.yy_grid_3(title='Code: 0xe81e')
        .img
          i.icon.icon-thumbs-up
          p.i-name icon-thumbs-up
      .yy_grid.yy_grid_3(title='Code: 0xe81f')
        .img
          i.icon.icon-thumbs-down
          p.i-name icon-thumbs-down
    
      .yy_grid.yy_grid_3(title='Code: 0xe820')
        .img
          i.icon.icon-bookmark
          p.i-name icon-bookmark
      .yy_grid.yy_grid_3(title='Code: 0xe821')
        .img
          i.icon.icon-trash-empty
          p.i-name icon-trash-empty
      .yy_grid.yy_grid_3(title='Code: 0xe822')
        .img
          i.icon.icon-comment
          p.i-name icon-comment
      .yy_grid.yy_grid_3(title='Code: 0xe823')
        .img
          i.icon.icon-chat
          p.i-name icon-chat
    
      .yy_grid.yy_grid_3(title='Code: 0xe824')
        .img
          i.icon.icon-cog
          p.i-name icon-cog
      .yy_grid.yy_grid_3(title='Code: 0xe825')
        .img
          i.icon.icon-wrench
          p.i-name icon-wrench
      .yy_grid.yy_grid_3(title='Code: 0xe826')
        .img
          i.icon.icon-basket
          p.i-name icon-basket
      .yy_grid.yy_grid_3(title='Code: 0xe82b')
        .img
          i.icon.icon-ok-circle
          p.i-name icon-ok-circle
    
      .yy_grid.yy_grid_3(title='Code: 0xe82c')
        .img
          i.icon.icon-cancel-circle
          p.i-name icon-cancel-circle
      .yy_grid.yy_grid_3(title='Code: 0xe82d')
        .img
          i.icon.icon-location
          p.i-name icon-location
      .yy_grid.yy_grid_3(title='Code: 0xe834')
        .img
          i.icon.icon-spin4.animate-spin
          p.i-name icon-spin4
      .yy_grid.yy_grid_3(title='Code: 0xe838')
        .img
          i.icon.icon-spin5.animate-spin
          p.i-name icon-spin5
    
      .yy_grid.yy_grid_3(title='Code: 0xe839')
        .img
          i.icon.icon-spin6.animate-spin
          p.i-name icon-spin6
      .yy_grid.yy_grid_3(title='Code: 0xf004')
        .img
          i.icon.icon-down-open-1
          p.i-name icon-down-open-1
      .yy_grid.yy_grid_3(title='Code: 0xf005')
        .img
          i.icon.icon-up-open-1
          p.i-name icon-up-open-1
      .yy_grid.yy_grid_3(title='Code: 0xf006')
        .img
          i.icon.icon-right-open-1
          p.i-name icon-right-open-1
    
      .yy_grid.yy_grid_3(title='Code: 0xf007')
        .img
          i.icon.icon-left-open-1
          p.i-name icon-left-open-1
      .yy_grid.yy_grid_3(title='Code: 0xf025')
        .img
          i.icon.icon-ccw
          p.i-name icon-ccw
      .yy_grid.yy_grid_3(title='Code: 0xf097')
        .img
          i.icon.icon-bookmark-empty
          p.i-name icon-bookmark-empty
      .yy_grid.yy_grid_3(title='Code: 0xf0b2')
        .img
          i.icon.icon-resize-full-alt
          p.i-name icon-resize-full-alt
    
      .yy_grid.yy_grid_3(title='Code: 0xf0c5')
        .img
          i.icon.icon-docs
          p.i-name icon-docs
      .yy_grid.yy_grid_3(title='Code: 0xf0ca')
        .img
          i.icon.icon-list-bullet
          p.i-name icon-list-bullet
      .yy_grid.yy_grid_3(title='Code: 0xf0e0')
        .img
          i.icon.icon-mail-alt
          p.i-name icon-mail-alt
      .yy_grid.yy_grid_3(title='Code: 0xf0ed')
        .img
          i.icon.icon-download-cloud
          p.i-name icon-download-cloud
    
      .yy_grid.yy_grid_3(title='Code: 0xf0ee')
        .img
          i.icon.icon-upload-cloud
          p.i-name icon-upload-cloud
      .yy_grid.yy_grid_3(title='Code: 0xf0f6')
        .img
          i.icon.icon-doc-text
          p.i-name icon-doc-text
      .yy_grid.yy_grid_3(title='Code: 0xf0fe')
        .img
          i.icon.icon-plus-squared
          p.i-name icon-plus-squared
      .yy_grid.yy_grid_3(title='Code: 0xf10c')
        .img
          i.icon.icon-circle-empty
          p.i-name icon-circle-empty
    
      .yy_grid.yy_grid_3(title='Code: 0xf123')
        .img
          i.icon.icon-star-half-alt
          p.i-name icon-star-half-alt
      .yy_grid.yy_grid_3(title='Code: 0xf146')
        .img
          i.icon.icon-minus-squared
          p.i-name icon-minus-squared
      .yy_grid.yy_grid_3(title='Code: 0xe827')
        .img
          i.icon.icon-ok-squared-1
          p.i-name icon-ok-squared-1
      .yy_grid.yy_grid_3(title='Code: 0xf164')
        .img
          i.icon.icon-thumbs-up-alt
          p.i-name icon-thumbs-up-alt
    
      .yy_grid.yy_grid_3(title='Code: 0xf165')
        .img
          i.icon.icon-thumbs-down-alt
          p.i-name icon-thumbs-down-alt
      .yy_grid.yy_grid_3(title='Code: 0xf1f8')
        .img
          i.icon.icon-trash
          p.i-name icon-trash
      .yy_grid.yy_grid_3(title='Code: 0xf234')
        .img
          i.icon.icon-user-plus
          p.i-name icon-user-plus
      .yy_grid.yy_grid_3(title='Code: 0xf2c0')
        .img
          i.icon.icon-user-o
          p.i-name icon-user-o
      .yy_grid.yy_grid_3(title='Code: 0xf096')
        .img
          i.icon.icon-check-empty
          p.i-name icon-check-empty
      .yy_grid.yy_grid_3(title='Code: 0xf1db')
        .img
          i.icon.icon-circle-thin
          p.i-name icon-circle-thin
      .yy_grid.yy_grid_3(title='Code: 0xe828')
        .img
          i.icon.icon-ok-1
          p.i-name icon-ok-1
      .yy_grid.yy_grid_3(title='Code: 0xf192')
        .img
          i.icon.icon-dot-circled
          p.i-name icon-dot-circled
      .yy_grid.yy_grid_3(title='Code: 0xe82e')
        .img
          i.icon.icon-up-small
          p.i-name icon-up-small
      .yy_grid.yy_grid_3(title='Code: 0xe82f')
        .img
          i.icon.icon-up-1
          p.i-name icon-up-1
      .yy_grid.yy_grid_3(title='Code: 0xf176')
        .img
          i.icon.icon-up
          p.i-name icon-up
      .yy_grid.yy_grid_3(title='Code: 0xe829')
        .img
          i.icon.icon-down-small
          p.i-name icon-down-small
      .yy_grid.yy_grid_3(title='Code: 0xe82a')
        .img
          i.icon.icon-down-1
          p.i-name icon-down-1
      .yy_grid.yy_grid_3(title='Code: 0xf175')
        .img
          i.icon.icon-down
          p.i-name icon-down
  
block script
  script.
    $(function() {
      console.log($.getRandomRGB());
      $('.yy_grid').each(function (){
        let rgb = $.getRandomRGB();
        $(this).find('i,p').css('color', 'rgb('+rgb.r +','+rgb.g+','+rgb.b+')');
      });

    });

  