extends layout
block content
  
  br
  header.text--center
    h2.text--primary 简单好用
  br
  br

  .yy_grids.text--center.test_grids
    a.yy_grid.yy_grid_3(href="button.html")
      .img
        img(src="../images/button.png")
      p.text--primary button
    a.yy_grid.yy_grid_3(href="list.html")
      .img
        i.icon.icon-list-bullet.text--danger
      p.text--danger list
    a.yy_grid.yy_grid_3(href="color.html")
      .img.yy_violet.test_grid
      p color
    a.yy_grid.yy_grid_3(href="icon.html")
      .img 
        .icon.text--success A
      p.text--success icon
    a.yy_grid.yy_grid_3(href="button.html")
      .img
        img(src="../images/button.png")
      p toast
    a.yy_grid.yy_grid_3(href="button.html")
      .img
        img(src="../images/button.png")
      p dialog