extends layout
block content
  
  br
  header.yy_text_center
    h2.yy_text_primary YYUI
  br
  br

  .yy_grids.yy_text_center.test_grids
    a.yy_grid.yy_grid_3(href="button.html")
      .img
        img(src="../images/button.png")
      p.yy_text_primary.yy_grid__title buttonbuttonbuttonbuttonbuttonbuttonbuttonbuttonbuttonbuttonbutton
    a.yy_grid.yy_grid_3(href="list.html")
        .img
          i.icon.icon-list-bullet.yy_text_danger
        p.yy_text_danger list
    a.yy_grid.yy_grid_3(href="color.html")
      .img.yy_violet.test_grid
      p color
    a.yy_grid.yy_grid_3(href="icon.html")
      .img 
        .icon.yy_text_success A
      p.yy_text_success icon
    a.yy_grid.yy_grid_3(href="toast.html")
      .img
        i.icon.icon-circle-empty.yy_text_wood--thin
      p.yy_text_wood--thin toast
    a.yy_grid.yy_grid_3(href="cell.html")
      .img
        i.icon.icon-th-large.yy_text_wood
      p.yy_text_wood 栅格
    a.yy_grid.yy_grid_3(href="dialog.html")
      .img
        i.icon.icon-th-large.yy_text_blue
      p.yy_text_blue dialog
    a.yy_grid.yy_grid_3(href="radio.html")
      .img
        i.icon.icon-th-large
      p 单、多选
    a.yy_grid.yy_grid_3(href="pull_refresh.html")
      .img
        i.icon.icon-down-1.yy_text_pink
      p.yy_text_pink 下拉刷新
    a.yy_grid.yy_grid_3(href="scroll_refresh.html")
      .img
        i.icon.icon-up-1.yy_text_primary--deep
      p.yy_text_primary--deep 滚动加载