extends layout
block content
  
  br
  header.yy_text_center
    h2.yy_text_primary YYUI
  br
  br

  .yy_grids.yy_text_center.test_grids
    a.yy_grid.yy_grid_3(href="button.html")
      .img
        img(src="../images/button.png")
      p.yy_text_primary.yy_grid__title buttonbuttonbuttonbuttonbuttonbuttonbuttonbuttonbuttonbuttonbutton
    a.yy_grid.yy_grid_3(href="list.html")
        .img
          i.icon.icon-list-bullet.yy_text_danger
        p.yy_text_danger list
    a.yy_grid.yy_grid_3(href="color.html")
      .img.yy_violet.test_grid
      p color
    a.yy_grid.yy_grid_3(href="icon.html")
      .img 
        .icon.yy_text_success A
      p.yy_text_success icon
    a.yy_grid.yy_grid_3(href="toast.html")
      .img
        img(src="../images/button.png")
      p toast
    a.yy_grid.yy_grid_3(href="cell.html")
      .img
        i.icon.icon-th-large.yy_text_wood
      p.yy_text_wood 栅格