extends layout
block content
  
  br
  header.text_center
    h2.text_primary 简单好用
  br
  br

  .yy_grids.text_center.test_grids
    a.yy_grid.yy_grid_3(href="button.html")
      .img
        img(src="../images/button.png")
      p.text_primary button
    a.yy_grid.yy_grid_3(href="list.html")
      .img
        i.icon.icon-list-bullet.text_danger
      p.text_danger list
    a.yy_grid.yy_grid_3(href="button.html")
      .img
        img(src="../images/button.png")
      p form
    a.yy_grid.yy_grid_3(href="icon.html")
      .img 
        .icon.text_success A
      p.text_success icon
    a.yy_grid.yy_grid_3(href="button.html")
      .img
        img(src="../images/button.png")
      p toast
    a.yy_grid.yy_grid_3(href="button.html")
      .img
        img(src="../images/button.png")
      p dialog