//
   Created by Renee on 2018/3/20.

doctype html
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='format-detection', content='telephone=no,email=no')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='grey')
    meta(name='screen-orientation', content='portrait')
    meta(name='x5-orientation', content='portrait')
    meta(http-equiv='pragma', content='no-cache')
    meta(http-equiv='Cache-Control', content='no-cache, must-revalidate')
    title YYUI
    link(rel="stylesheet", href="/css/yyui.css")
    link(rel="stylesheet", href="/css/test.css")
  body
    block content


    block script
      script(src="/js/zepto.js")
