extends layout
block content
  
  br
  header.yy_text_center
    h2.yy_text_primary 列表
  br
  br
  .yy_inner
    .yy_outline.yy_inner
      .yy_group
        .yy_group__side 标题
        .yy_group__info
          i.icon.icon-right-open-1
      .yy_group
        .yy_group__side 标题
        .yy_group__info 说明
      .yy_group
        .yy_group__side
          i.icon.icon-picture.yy_group__icon--min
          | 带图标
        .yy_group__info 说明
      .yy_group
          .yy_group__icon
            img(src="../images/header.jpg")
          .yy_group__side 带图标2
          .yy_group__info 说明
            
  br
  .yy_inner
    .yy_title.yy_title_primary 下划线 .yy_border
  .yy_groups
    .yy_group.yy_border
      .yy_group__side 标题
      .yy_group__info
        i.icon.icon-right-open-1
    .yy_group.yy_border
      .yy_group__side 标题
      .yy_group__info
        i.icon.icon-right-open-1
  br
  .yy_inner
    .yy_title.yy_title_primary 下划线2 .yy_img_border
    
  .yy_groups
    .yy_group.yy_img_border
      .yy_group__icon.yy_circle
        img(src="../images/test.jpg")
      .yy_group__side 带图标2
      .yy_group__info 说明
    .yy_group.yy_img_border
      .yy_group__icon.yy_circle.yy_primary 我
      .yy_group__side 
        .yy_group_title 标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
        .yy_group_desc 说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明
    .yy_group.yy_img_border.group_top
      .yy_group__icon.yy_primary 我
      .yy_group__side 
        .yy_group_title 标题标题标题标题标题标题
        .yy_group_desc 说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明
    .yy_group.yy_img_border.group_top
      .yy_group_img
        img(src="../images/header.jpg")
      .yy_group__side 
        .yy_group_title 大图列表
        .yy_group_desc 说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明说明
  br
  br
  

  