extends layout
block content
  
  br
  header.text_center
    h2.text_primary 列表
  br
  br
  .yy_inner
    .yy_inner.yy_outline
      .yy_groups
        .yy_group
          .yy_group_title 标题
          .yy_group_icon 
            i.icon.icon-right-open-1

  