extends layout
block content

  br
  header.yy_text_center
    h2.yy_text_primary 下拉刷新
  br
  br
  .yy_inner
    span


block script
  script.
    var refresh = new YYRefresh({
      container: 'body',
      triggerDistance: 150,
    });

    refresh.pullRefresh((err) => {
      console.log('pull refresh error:', err);
      if (!err) {
        setTimeout(() => {
          $('.yy_inner span').html(new Date());
          refresh.pullRefreshEnd();
        }, 2000);
      }
    });