extends layout
block content
  
  br
  header.yy_text_center
    h2.yy_text_primary toast
  br
  br
  
  .yy_inner
    .yy_btn.yy_block.yy_success.toast--success 成功
  .yy_inner
    .yy_btn.yy_block.yy_success.toast--fail 失败
  .yy_inner
    .yy_btn.yy_block.yy_success.toast--text 纯文本
  .yy_inner
    .yy_btn.yy_block.yy_success.toast--custom 自定义
  .yy_inner
    .yy_btn.yy_block.yy_success.toast--loading 加载
  .yy_toast.yy_toast--black_trans
    .yy_mask
    .yy_toast__body
      .yy_toast__icon
        i.icon.icon-ok
      .yy_toast__text
        span 提交成功

  br
  .yy_inner
    .yy_title.yy_title_primary 主题(theme)
    p 默认透明背景
    p 黑色半透明背景：black_trans

block script
  script.
    let toast = new YYToast();
    $(document).on('tap', '.toast--success', () => {
      console.log('success');
      toast.success({
        onOk: () => {
          console.log('ok');
        }
      })
    }).on('click', '.toast--fail', () => {
      console.log('fail');
      toast.cancel({
        title: '提交失败',
        duration: 1000,
      });
    }).on('tap', '.toast--text', () => {
      toast.text({
        title: '文本文本文本文本文本文本',
      });
    }).on('tap', '.toast--loading', () => {
      toast.loading({
        title: '正在加载中',
        theme: 'black_trans',
      });

      setTimeout(() => {
        toast.hideLoading();
      }, 2000);
    }).on('tap', '.toast--custom', () => {
      toast.custom({
        title: '保存成功',
        icon: '<i class="icon icon-ok-circled">',
      });
    });
