@import './setting.scss';
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
table,
a,input{-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;}
textarea {
  line-height: 1.25em;
}
body {
  min-width: 320px;
  max-width: $max-width;
  margin:0 auto;
  font-size: $font-size-primary;
  font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
  color: #333;
  -webkit-text-size-adjust: none;
}
fieldset,
img {
  border: 0;
}
ol,
ul {
  list-style: none;
}
address,
em {
  font-style: normal;
}
a {
  color: #333;
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
.yy_line{
  height: 1px;
  background-color: $gray-thin-color;
  opacity: 0.5;
}
.yy_text_center{text-align:center;margin:0 auto;}
.yy_inner{padding:8px;}
.yy_radius{
  border-radius: 5px;
}
.yy_outline{
  border: 0.03rem solid $gray-thin-color;  
}
.yy_circle{
  border-radius: 50%;
  overflow: hidden;
}
.yy_title{
  border-left: 2px solid $font-primary-color;
  height: 18px;
  margin: 10px 0;
  text-indent: 1em;
  line-height: 13px;
}

@each $color in $btn_color{
  $class:      nth($color,1);
  $bgColor:    nth($color,2);
  $deepColor:  nth($color,3);

  //文字颜色
  .yy_text_#{$class}{
    color: $bgColor !important;
  }

  .yy_title_#{$class} {
    border-color: $bgColor;
    color: $bgColor;
  }

  @if($deepColor != '') {
     //文字颜色
    .yy_text_#{$class}--deep{
      color: $deepColor !important;
    }

    .yy_title_#{$class}--deep {
      border-color: $deepColor;
      color: $deepColor;
    }
  }
}