@import 'setting.scss';

.yy_btn{
  position: relative;
  display: inline-flex;
  width: 100%;
  color: #fff;
  padding: 6px 10px;
  box-sizing: border-box;
  text-align: center;
  width: auto;
  & + & {
    margin-left: $space-primary;
  }
}

@each $colorClass in $btn_color{
  $class:      nth($colorClass,1);
  $bgColor:    nth($colorClass,2);
  $activeColor:nth($colorClass,3);
  @if($activeColor != '') {
    .yy_deep#{$class}{
      border: 1px solid $activeColor;
      background: $activeColor;
    }
  }
  .yy_#{$class}{
    border: 1px solid $bgColor;
    background: $bgColor;
    @if($activeColor != '') {
      &:not(.yy_disabled):active{
        background: $activeColor;
        border-color: $activeColor;
      }
    }
    &.yy_disabled{
      color: rgba(255, 255, 255, 0.6);
    }
    &.yy_outline{
      color: $bgColor;
      background: transparent;
      @if($activeColor != '') {
        &:not(.yy_disabled):active{
          border-color:$activeColor;
          color: $activeColor;
          background-color: #FBFBFB;
        }
      }
      &.yy_disabled{
        color: $bgColor;
        opacity: .7;
      }
    }
  }
}

// .yy_btn + .yy_btn{
//   // margin-top: 10px;
//   margin-left: 10px;
// }
.yy_btn.yy_circle{border-radius: 20px;}
.yy_min{
  font-size: $font-size-xs;
  padding: 3px 6px;
}
.yy_large{
  font-size: $font-size-lg;
  padding: 10px 15px;
}
.yy_block{
  display: block;
}
.yy_long{
  padding-left: 38px !important; 
  padding-right: 38px !important;
}