@import 'setting.scss';

.yy_btn{
  position: relative;
  display: block;
  width: 100%;
  color: #fff;
  padding: 8px 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}

@each $colorClass in $btn_color{
  $class:      nth($colorClass,1);
  $bgColor:    nth($colorClass,2);
  $activeColor:nth($colorClass,3);
  .yy_btn_#{$class}{
    border: 1px solid $bgColor;
    background: $bgColor;
    color: #fff;
    &:not(.btn_disabled):active{
      background: $activeColor;
    }
  }
  .yy_btn_empty_#{$class}{
    border: 1px solid $bgColor;
    color: $bgColor;
  }

  //文字颜色
  .text_#{$class}{
    color: $bgColor !important;
  }
}

.yy_btn + .yy_btn{margin-top: 10px;}