@import 'setting.scss';

@mixin cell($type: "w"){
  @each $i in $col{
    &>.yy_cell_#{$i}{
      @if ($type == 'w') {
        width: #{(100%/12)*$i};
      } @else {
        height: #{(100%/12)*$i};
      }
    }
  }
}

.yy_row, .yy_column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  margin: -$margin-sm ;
  margin-top: 0;
  margin-bottom: 0;
  &--center {
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .yy_column,.yy_row {
    margin: -$margin-sm;
  }
  .yy_cell, [class^=yy_cell_] {
    display: flex;
    -ms-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    padding: $margin-sm;
    border: 0;
    box-sizing: border-box;
    &--center {
      @extend .yy_row--center;
    }
  }
  [class^=yy_cell_] {
    -ms-flex: none;
    -moz-box-flex: none;
    flex: none;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
  }
}

.yy_row {
  flex-direction: row;
  -ms-flex-direction: row;
  @include cell;
}
.yy_column {
  flex-direction: column;
  -ms-flex-direction: column;
  @include cell('h');
}