@import './setting.scss';

.yy_dialog {
  // display: none;
  &__body {
    padding: $margin-md;
    &-wrap {
      width: 80%;
      max-width: 350px;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 5px;
      z-index: $z-index-topmost;
      div, p {
        text-align: center;
      }

    }
  }

  &__content {
    font-size: $font-size-sm;
    margin-top: $margin-primary;
    color: $gray-deep-color;
  }

  &__footer {
    border-top: 1px solid $gray-thin-color;
    .yy_cell + .yy_cell {
      border-left: 1px solid $gray-thin-color;
    }
    &-btn {
      padding: $space-sm;
      text-align: center;
      width: 100%;
    }
  }

  &--transparant {
    .yy_mask {
      background-color: rgba(0, 0, 0, 0);
    }

    #{get-parent()}__body-wrap {
      background-color: rgba(0, 0, 0, 0.7); 
      color: #fff;
    }
  }
  &--black_trans {
    .yy_mask {
      background-color: rgba(0, 0, 0, 0.5);
    }

    #{get-parent()}__body-wrap {
      background-color: #fff; 
      color: $font-primary-color;
    }
  }
}