@import './setting.scss';

.yy_groups{
  background-color: #fff;
  position: relative;
  overflow: hidden;
  line-height: 1.5;
  &:after, &:before{
    @include border;
    left: 0;
    border-left: none;
    border-right: none;
  }
  &:after{
    border-top: none;
  }
  &:before{
    top: 0;
    border-bottom: none;
  }
}
.yy_group{
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: $margin-sm;
  &.group_top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  &.yy_border:not(:last-child):after{
   @include border;
   left: $margin-sm;
   border-top: none;
   border-left: none;
   border-right: none;
  }
  &.yy_img_border:not(:last-child):after{
    @extend .yy_group.yy_border:after;
    left: 50px;
  }
  .yy_group__side{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }
  .yy_group_title{
    font-size: $font-size-primary;
    margin-bottom: $margin-sm;
    margin-top: -5px;
    max-height: 48px;
    @include ellipsis(2, 24px);
  }
  .yy_group_desc{
    color: $gray-color;
    font-size: $font-size-sm; 
    // line-height: 18px;
    max-height: 36px;
    @include ellipsis(2, 18px);
  }
  .yy_group__info{
    color: $gray-color;
    *{color: $gray-color;}
    margin-left: $margin-sm;

    input[type="radio"], input[type="checkbox"] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: $z-index-1;

      & + i.icon-ok-1 {
        display: none;
      }

      &:checked + i.icon-ok-1 {
        display: block;
        font-size: $font-size-xs;
      }
    }
  }
  .yy_group__icon{
    width: 34px;
    height: 34px;
    vertical-align: middle;
    margin-right: $margin-sm;
    text-align: center;
    line-height: 34px;
    color: #fff;
    img{
      width: 100%;
      border: 0;
    }
    &--min{
      margin-right: $margin-sm;
    }
  }
  .yy_group_img{
    @extend .yy_group__icon;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}