.yy_groups{
  background-color: #fff;
  position: relative;
  overflow: hidden;
  line-height: 1.5;
  .yy_group{
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 15px;
  }
}