
//主色
$primary-color: #548dd4 !default;
$primary-deep-color: #4a7cbb !default;
$danger-color: #ef4f4f;
$danger-deep-color: #F13535;
$success-color: #1da008;
$success-deep-color: #1A8808;
$warning-color: #fefe33;
$warning-deep-color: #eeee2d;
$gray-color: #9c9c9c;
$gray-deep-color: #878585;
$gray-thin-color: #DAD7D7;
// $gray-deep-color: #DAD7D7;
$default-color: #5a5a5a;
$default-deep-color: #383737;
$font-primary-color: #333;

// 配色
$wood-color: #E9AE6A;
$wood-deep-color: #BA874C;
$wood-thin-color: #F1AAA6;
$violet-color: #8192D6;
$violet-deep-color: #726DD1;
$violet-thin-color: #90a2e9;
$bluegreen-color: #1DB0B8;
$graygreen-color: #AAB8A3;
$blue-color: #37C6C0;
$blue-deep-color: #1DB0B8;
$blue-thin-color: #D0E9FF;
$pink-color: #FF5983;
$pink-deep-color: #F93B6B;
$pink-thin-color: #EFCEE8;

$col: 1,2,3,4,5,6,7,8,9,10,11,12;

// space
$space-primary: 8px;
$space-lg: 12px;
$space-sm: 5px;
$space-xs: 2px;

//margin
$margin-primary: 10px;
$margin-md: 15px;
$margin-lg: 20px;
$margin-sm: 5px;
$margin-xs: 2px;

// font-size
$font-size-primary: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-sm: 14px;
$font-size-xs: 12px;


//btn color
$btn-color: (primary $primary-color $primary-deep-color), (default $default_color $default-deep-color), (danger $danger-color $danger-deep-color), (warning $warning-color $warning-deep-color), (success $success-color $success-deep-color), (gray $gray-color $gray-deep-color), (wood $wood-color $wood-deep-color), (violet $violet-color $violet-deep-color), (blue $blue-color $blue-deep-color), (pink $pink-color $pink-deep-color), (thinwood $wood-thin-color ''), (thinviolet $violet-thin-color ''), (bluegreen $bluegreen-color ''), (graygreen $graygreen-color ''), (thinblue $blue-thin-color ''), (thinpink $pink-thin-color '');



$version: moz, webkit, o, ms;

@mixin border{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid $gray-thin-color;
  width: 100%;
  height: 100%;
  opacity: .5;
}

@mixin ellipsis($line: '', $lineHeight: ''){
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  word-wrap: normal;
  word-wrap: break-word;
  word-break: break-all;
  @if($line != '') {
    @if($lineHeight != '') {
      line-height: $lineHeight;
    }
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  } @else {
    white-space: nowrap;
  }
}