@import 'setting.scss';

.test_grids{
  .yy_grid_3{
    height: 96px;
    .img{
      height: 36px;
    }
  }
  .test_grid{
    width: 40px;
    height: 40px;
  }
}

.test_text {
  &--xs {
    font-size: $font-size-xs;
  }
}